<div class="container mt-3">

    <!-- go to home page -->

    <a [routerLink]="['']" class="btn btn-outline-light btn-lg">Back To Home</a>

    <!-- end -->




    <form (ngSubmit)="myfun()">
        <div class="form-group">
          <label class="text-warning">UserName :</label>
          <input type="text" name="name"  class="form-control" placeholder="Enter your name" [(ngModel)]="employe.name" >
        </div>
        <div class="form-group">
          <label class="text-warning">Age :</label>
          <input type="text" name="age"  class="form-control" placeholder="Enter your Age" [(ngModel)]="employe.age"  >
        </div>
        <div class="form-group">
          <label class="text-warning">Salary :</label>
          <input type="text" name="salary"  class="form-control" placeholder="Enter your Salary" [(ngModel)]="employe.salary"  >
        </div>
        <br>
        <input type="submit" value="Submit Form " class="btn btn-outline-warning btn-lg">
    </form>
</div>
